<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<div class="optionblock">
  <div class="selection">
    <label for="barcode"
      >Barcodeformat:
      <select name="barcode" id="barcode" [(ngModel)]="selectedBarcodeObj">
        @for (i of barcodeObjs; track i.value) {
          <option [ngValue]="i">
            {{ i.name }}
          </option>
        }
      </select>
    </label>
  </div>
  <div class="selection">
    <label for="width"
      >Linewidth:
      <select name="width" id="width" [(ngModel)]="selectedWidth">
        @for (j of widths; track j) {
          <option [ngValue]="j">{{ j }}</option>
        }
      </select>
    </label>
  </div>
  <div class="selection">
    <label for="heigth"
      >Heigth:
      <select name="heigth" id="heigth" [(ngModel)]="selectedHeight">
        @for (i of heights; track i) {
          <option [ngValue]="i">{{ i }}</option>
        }
      </select>
    </label>
  </div>
  <div class="selection">
    <label for="fontSize"
      >Fontsize:
      <select name="fontSize" id="fontSize" [(ngModel)]="selectedFontSize">
        @for (i of fontSizes; track i) {
          <option [ngValue]="i">{{ i }}</option>
        }
      </select>
    </label>
  </div>
</div>

<div style="text-align: center">
  <ngx-barcode6
    [bc-format]="selectedBarcodeObj().value"
    [bc-width]="selectedWidth()"
    [bc-height]="selectedHeight()"
    [bc-font-size]="selectedFontSize()"
    [bc-value]="selectedBarcodeObj().example"
    [bc-display-value]="true"
  >
  </ngx-barcode6>
</div>

<div style="text-align: center">
  {{ selectedBarcodeObj() | json }}
</div>
